/*@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;900&display=swap');
:root {
   --font: 'Raleway', sans-serif; 
   --color-white: #FFF;
   --color-black: #000;
   --color-black2: #333;
   --color-white2: hsl(0, 0%, 90%);
   --color-grey: #777;
   --color-grey2: #999;
   --color-red: #F22;
   --space-0_25: 0.25rem;
   --space-0_5: 0.5rem;
   --space-0_75: 0.75rem;
   --space-1: 1rem;
   --space-1_5: 1.5rem;
   --space-2: 2rem;
   --space-3: 3rem;
   --space-4: 4rem;
   --space-5: 5rem;

   --toolbar-height: 7rem;
   --category-height: 10rem;
}

html, body {
   background: #DEDEDE;
   color: #FFF;
   font-family: var(--font);
   font-weight: 400;
   margin: 0;
   padding: 0;
}

.component-header {
   border-bottom: 2px solid #FFF;
   border-left: 2px solid #FFF;
   padding: 0.5rem 1rem;
   margin: 2rem 0 1rem 0;
}

* {
   box-sizing: border-box;
}


.app {
   min-height: 100%;
   max-width: 1200px;
   min-width: 1100px;
   margin: auto;
   padding: var(--space-1);
}
.app > .menu {
   background: var(--color-white);
   color: var(--color-grey);
   border-radius: 0 0 0.5rem 0.5rem;
   overflow: hidden;
   transform: translateY(0px);
   opacity: 1;
   transition: all 0.25s;
   position: relative;
   z-index: 1;
   box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15);
}
.app > .menu.close {
   opacity: 0;
   pointer-events: none;
   transform: translateY(-100px);
}

/*-------------------------------------------------
| component: Toolbar
-------------------------------------------------*/
.c-toolbar {
   position: relative;
   z-index: 10;
   margin-top: var(--space-2);
   background: var(--color-white);   
   color: var(--color-grey);
   display: flex;
   align-items: center;
   gap: var(--space-2);
   height: var(--toolbar-height);
   padding: 0 var(--space-2);
   text-transform: uppercase;
   border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
   box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15);
}
.c-toolbar.open {
   border-radius: 0.5rem 0.5rem 0 0;
}
.c-toolbar .menu {
   padding: var(--space-1);
   border-radius: 50%;
   cursor: pointer;
}
.c-toolbar .menu i{
   color: var(--color-grey2);
}
.c-toolbar .menu:hover {
   background: var(--color-white2);
}
.c-toolbar .logo {
   flex: 1;
   text-align: center;
   padding: var(--space-1_5) 0;
   height: 100%;
}
.c-toolbar .logo img {
   height: 100%;
}

.c-toolbar .links {
   display: flex;
   align-items: center;
}
.c-toolbar .links .link {
   padding: 0 var(--space-1);
   font-size: 0.9rem;
   display: flex;
   gap: var(--space-1);
   align-items: center;
   justify-content: center;
   cursor: pointer;
   user-select: none;
}

.c-toolbar.open .links .link {
   opacity: 0.75;
}
.c-toolbar .links .link.active,
.c-toolbar .links .link:hover {
   color: var(--color-black);
   opacity: 1;
}
.c-toolbar .links .link i {
   font-size: 1.1rem;
}
.c-toolbar .links .link i:nth-of-type(1),
.c-toolbar .links .link.active i:nth-of-type(2) {
   display: none;
}

.c-toolbar .links .link.active i:nth-of-type(1) ,
.c-toolbar .links .link i:nth-of-type(2) {
   display: block;
}

/*-------------------------------------------------
| component: Categories
-------------------------------------------------*/
.c-cats {
   display: flex;
   background: var(--color-white);
   padding: 0 var(--space-4);
   margin-bottom: var(--space-2);
   padding-top: 0;
   justify-content: center;
   ccborder-top: 1px solid var(--color-white2);
   height: 5rem;
}

.c-cats .cat  {
   flex: 1;
   text-align: center;
   ccpadding: var(--space-1);
   ccpadding-top: var(--space-0);
   height: 100%;
   display: flex;
   flex-direction: column;
   gap: var(--space-0_5);
   opacity: 0.5;
   transition: all 0.25s;
   cursor: pointer;
   position: relative;
   opacity: 0;
   animation: fadeInCat 0.75s forwards;
   animation-delay: calc((var(--index) + 1) * 0.1s + 0.25s);
}

.c-cats .cat .label {
   opacity: 0;
   color: var(--color-grey);
   transition: all 0.25s;
   text-transform: uppercase;
   font-size: 0.8rem;
   position: absolute;
   bottom: -1.25rem;
   left: 50%;
   transform: translateX(-50%);
}
.c-cats .cat .image {
   padding-top: 50%;
   ccbackground: red;
}
.c-cats .cat .image img {
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0;
   object-fit: contain;
   left: 0;
}
.c-cats .cat.active .image img {
   transition: all 0.15s;
}
.c-cats .cat.active,
.c-cats .cat:hover,
.c-cats .cat:hover .label {
   opacity: 1 !important;
}
.c-cats .cat.active:hover .label,
.c-cats .cat.active .label {
   opacity: 0 !important;
}
.c-cats .cat.active .image img {
   transform: scale(var(--scale));
   animation: scale 0.25s forwards;
}
@keyframes scale {
   100% { 
     transform: scale(1.25);
   }
}

/*-------------------------------------------------
| component: Sub Category
-------------------------------------------------*/
.c-subcat {
   background: var(--color-white);
   color: var(--color-grey);
   display: flex;
   padding: 0 var(--space-2);
   gap: var(--space-1);
   overflow: auto;
   opacity: 0;
   animation: fadeIn 1s forwards;
   animation-delay: 1s;
}
.c-subcat .link {
   padding: var(--space-1) 0px;
   position: relative;
   text-transform: uppercase;
   font-size: 0.9rem;
   cursor: pointer;
   user-select: none;
   display: flex;
   gap: var(--space-0_25);
   justify-content: center;
}
.c-subcat .link .text:before {
   display: block;
   white-space: nowrap;
   content: attr(title);
   font-weight: bold;
   height: 0px;
   overflow: hidden;
}
.c-subcat .link:hover,
.c-subcat .link.active {
   ccfont-weight: bold;
   color: var(--color-black);
}
.c-subcat .link .note {
   color: var(--color-red);
}
.c-subcat .link:hover:after,
.c-subcat .link.active:after {
   content: '';
   position: absolute;
   bottom: 0.45rem;
   left: 0;
   width: 100%;
}
.c-subcat .link.active:after {
   border-bottom: 4px solid var(--color-red);
}

/*-------------------------------------------------
| component: Display
-------------------------------------------------*/
.c-display {
   background: var(--color-white);
   color: var(--color-black2);
   display: flex;
   gap: var(--space-3);
   padding: var(--space-2);
   opacity: 0;
   animation: fadeIn 1s forwards;
   animation-delay: 1.5s;
}
.c-display .image {
   width: 30%;
}
.c-display .image img{
   width: 100%;
}
.c-display .details {
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
   gap: var(--space-1_5);
}
.c-display .details .title{
   font-size: 1.75rem;
}
.c-display .details .attributes {
   display: flex;
   justify-content: space-between;
   gap: var(--space-4);
}
.c-display .details .attributes .value{
   font-size: 1.2rem;
   padding-bottom: var(--space-0_5);
   font-weight: 600;
}
.c-display .details .attributes .key{
   text-transform: uppercase;
   font-size: 0.8rem;
   color: var(--color-grey2);
}
.c-display .details .price{
   font-weight: 600;
}

.c-display .actions {
   display: flex;
   flex-direction: column;
   gap: var(--space-0_5);
   justify-content: end;
   align-items: flex-end;
   flex: 1;
}
.c-display .actions button {
   width: 14rem;
   cursor: pointer;
   text-transform: uppercase;
   padding: var(--space-1) 0;
   background: none;
   border: 1px solid var(--color-grey);
   color: var(--color-grey);
   font-weight: 600;
}
.c-display .actions button.primary {
   color: var(--color-white);
   background: var(--color-red);
}
.c-display .actions button:hover {
   filter: brightness(1.5);
}

@keyframes fadeIn {
   0% { opacity: 0; }
   100% { opacity: 1; }
}

@keyframes fadeInCat {
   0% { opacity: 0; }
   100% { opacity: 0.5; }
}