:root {
   --font: monospace;
   --color-black: #111;
   --color-black-2: #151515;
   --color-white: #FFF;
   --space-05: 0.5rem;
   --space-1: 1rem;
   --space-2: 2rem;
   --grabber-size: 1.5rem;
}

html, body {
   margin: 0;
   padding: 0;
   color: var(--color-white);
}

* {
   font-family: monospace;
   box-sizing: border-box;
}

.nav {
   background: var(--color-black);
   padding: var(--space-1);
}


.editors {
   display: flex;
   background: var(--color-black);
}

.editors .editor {
   width: 100%;
   ccflex: 1;
   ccwidth: calc(33.333333% - 1rem);
/*   max-width: calc(33.333333% - 1rem);*/
/*   min-width: calc(33.333333% - 1rem);*/
}

.editors .editor .title {
   background: var(--color-black-2);
   padding: var(--space-05);
   height: var(--space-2);
}

.editors .editor {
   position: relative;
}

.editors .grabber {
   z-index: 1;
   ccposition: absolute;
   cctop: var(--space-2);
   width: var(--grabber-size);
   min-width: var(--grabber-size);
   ccmin-height: 100%;
   background: var(--color-black-2);
   cursor: col-resize;
   position: relative;
}

.editors .grabber .text {
   position: absolute;
   top: 0;
   line-height: var(--space-2);
   left: var(--space-05);
   transform-origin: 0 100%;
   transition: all 0.2s;
}

.editors .grabber.closed .text {
   transform: rotate(90deg);
   line-height: 1rem;
   left: 0;
}


.info {
   color: #000;
}