:root {
   --font: monospace;
   --color-bg: #222;
   --color-text: #FEFEFE;
   --space-025: 0.25rem;
   --space-05: 0.5rem;
   --space-075: 0.75rem;
   --space-1: 1rem;
   --space-15: 1.5rem;
   --space-2: 2rem;
   --space-3: 3rem;
   --space-4: 4rem;
   --space-5: 5rem;
}

html, body {
   background: var(--color-bg);
   height: 100%;
   margin: 0;
   padding: var(--space-1);
   font-size: 13px;
}

* {
   color: var(--color-text);
   box-sizing: border-box;
   font-family: monospace;
}

.container {
   background: var(--color-bg-container);
   color: var(--color-folder-text);
   padding: var(--space-1);
   display: flex;
}

/*------------------------------------------------------
| Folders
------------------------------------------------------*/
.folder, .file {
   padding-left: calc(var(--depth) * 1rem);
   user-select: none;
}

.folder:hover, 
.file:hover {
   background: rgba(255, 255, 255, 0.5);
}

.file.over {
   background: red;
}

/*------------------------------------------------------
| Draggable
------------------------------------------------------*/
/*.folders .held {*/
.held {
   display: none;
   position: absolute;
   user-select: none;
   -webkit-user-select: none;
   pointer-events: none;
   -webkit-pointer-events: none;
   background: #666;
   padding: var(--space-05) var(--space-2);
}



/*------------------------------------------------------
| Left / Right
------------------------------------------------------*/
.container {
   height: 100%;
}
.left {
   width: 20rem;
}
.right {
   padding-left: var(--space-2);
   flex: 1;
   display: flex;
   flex-direction: column;
}

#debug {
   background: #222;
   color: #FFF;
   min-width: 100%;
   height: 100%;
   border: none;
   flex: 1;
}