@font-face {
   font-family: fa-icons;
   src: url('../_assets/fontawesome/webfonts/fa-regular-400.ttf');
}

@font-face {
   font-family: fa-icons-solid;
   src: url('../_assets/fontawesome/webfonts/fa-solid-900.ttf');
}

@font-face {
   font-family: fa-icons-brand;
   src: url('../_assets/fontawesome/webfonts/fa-brands-400.ttf');
}

:root {
   --font: monospace;
   --color-bg: #121417;
   --color-text: #FEFEFE;
   --space-0_25: 0.25rem;
   --space-0_5: 0.5rem;
   --space-0_75: 0.75rem;
   --space-1: 1rem;
   --space-15: 1.5rem;
   --space-2: 2rem;
   --space-3: 3rem;
   --space-4: 4rem;
   --space-5: 5rem;
}

html, body {
   background: var(--color-bg);
   height: 100%;
   margin: 0;
   padding: var(--space-1);
   font-size: 13px;
}

* {
   box-sizing: border-box;
   font-family: monospace;
}

.container {
   background: var(--color-bg-container);
   color: var(--color-folder-text);
   padding: var(--space-1);
   display: flex;
}
.left .title,
.right .title {
   font-size: 1.25rem;
   color: #9da5b4;
}

body.holding,
body.holding .file {
   cursor: grabbing!important;
}
/*------------------------------------------------------
| Folders
------------------------------------------------------*/
.folders {
   padding-top: 0.5rem;
   margin-left: -0.4rem;
}
.file {
   user-select: none;
   padding-top: 0.5rem;
   padding-bottom: 0.5rem;
   padding-left: calc(0.5rem + var(--depth) * 1.5rem);
   cursor: grab;
   color: #9da5b4;
   display: flex;
   gap: var(--space-0_5);
   font-size: 1.25rem;
}

.file .icon {

}

.folder > .file {
   font-weight: bolder;
}

.folder.closed > .files {
   display: none;
}


.folder-title:hover, 
.file:hover {
   background: rgba(255, 255, 255, 0.1);
}

/* holding */
.holding .folder.over > .file {
   background: #4d78cc;
   color: #FFF;
}

.holding .folder.over {
   background:rgba(255, 255, 255, 0.1);
}


.file .icon {
   width: 1.5rem;
}

.file .icon:after {
   font-family: fa-icons;
   width: 1.5rem;
   text-align: center;
}

/* Icons */
/* Get unicode from https://fontawesome.com/search?o=r&m=free */
.folder > .file .icon {
   position: relative;
}
.folder > .file .icon:after {
   font-family: fa-icons;
   content: '\f07c';
}
.folder.closed > .file .icon:after {
   font-family: fa-icons-solid;
   content: '\f07b';
}
/* Caret Folder Icons */
/*.folder > .file .icon:before {
   position: absolute;
   width: 1rem;
   top: 0;
   left: -1.5rem;
   font-family: fa-icons-solid;
   content: '\f0d7';
}
.folder.closed > .file .icon:before {
   font-family: fa-icons-solid;
   content: '\f0da';
}*/

/* Default */
.file .icon:after {
   content: '\f15b';
}

/*.file .icon[class*="ext-"]:after { font-family: fa-icons-brand; }*/
/* Going to duplicate font-family for now */
.file .icon.ext-js:after { font-family: fa-icons-brand; content: '\f3b9'; }
.file .icon.ext-css:after { font-family: fa-icons-brand; content: '\f13c'; }
.file .icon.ext-scss:after { font-family: fa-icons-brand; content: '\f41e'; }
.file .icon.ext-sass:after { font-family: fa-icons-brand; content: '\f41e'; }
.file .icon.ext-html:after { font-family: fa-icons-brand; content: '\f13b'; }


/*------------------------------------------------------
| Draggable
------------------------------------------------------*/
/*.folders .held {*/
.held {
   display: none;
   position: absolute;
   user-select: none;
   -webkit-user-select: none;
   pointer-events: none;
   -webkit-pointer-events: none;
   background: #666;
   padding: var(--space-0_5) var(--space-2);
   color: #FFF;
}



/*------------------------------------------------------
| Left / Right
------------------------------------------------------*/
.container {
   height: 100%;
}
.left {
   width: 20rem;
}
.right {
   padding-left: var(--space-2);
   flex: 1;
   display: flex;
   flex-direction: column;
}

#debug {
   background: rgba(255,255, 255, 0.05);
   color: rgba(255, 255, 255, 0.5);
   min-width: 100%;
   height: 100%;
   border: none;
   flex: 1;
   outline: none;
   font-size: 1rem;
   padding: var(--space-1);
}