@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');

:root {
   --font-family: 'Montserrat', sans-serif;
   --color-pink: pink;
   --color-pink1: violet;
   --color-black: #222;
   --color-black-light: #666;
   --color-white: #fff;
   --border-radius: 0.5rem;

   --size-regular: 1rem;
   --size-h2: 1.25rem;

   --space-half: 0.5rem;
   --space-1: 1rem;
   --space-2: 2rem;

   --border: 1.5px solid var(--color-white);

   --bg-mountains: url("../_assets/images/background-vector-mountains.jpg");
}

html, body {
   font-family: var(--font-family);
   background: #222;
}


/*-----------------------------------------------
| Card
-----------------------------------------------*/
.cards {
   display: flex;
   gap: 1rem;
   padding: 1rem;
}

.card {
   border: var(--border);
   border-radius: var(--border-radius);
   overflow: hidden;
}

.card .top {
   overflow: hidden;
}
.card .top .bg {
   height: 12rem;
   background: var(--bg-mountains);
   background-size: cover;
   transition: all 0.25s;

}
.card:hover .top .bg{
   background-size: cover;
   transform: scale(1.25);
}

.card .bottom {
   background: var(--color-white);
}
/*-----------------------------------------------
| Utility
-----------------------------------------------*/
.pad-t-1 {
   padding-top: 1rem;
}
.pad-a-1 {
   padding: 1rem;
}

.light {
   color: var(--color-black-light);
}

.h2 {
   font-size: var(--size-h2);
}

.bold {
   font-weight: bolder;
}