:root {
   --font: monospace;
   --color-bg: #5f9fef;
   --color-button: #3278ce;
   --color-delete: #ea4e45;
   --color-white: #ffffff;
   --color-list-text: rgba(0, 0, 0, 0.5);
   --shadow-1: 0px 2px 4px rgba(0, 0, 0, 0.25);
   --space-0_5: 0.5rem;
   --space-1: 1rem;
   --space-2: 2rem;
   --space-3: 3rem;
   --space-4: 4rem;
   --space-5: 5rem;
   --height-input: 4rem;
   --border-radius: 0.45rem;
   --list-border: 2px solid var(--color-list-text);
   --size-h2: 1.25rem;
   --size-del-button: 2.5rem;
   --app-width: 35rem;
}

body {
   background: var(--color-bg);
   padding: var(--space-2);
}

* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   font-family: var(--font);
}
.app {
   min-height: 100%;
   max-width: var(--app-width);
   margin: auto;
}

.component {
   border-bottom: 2px solid #FFF;
   border-left: 2px solid #FFF;
   padding: var(--space-0_5);
   color: #FFF;
   margin: 2rem 0 1rem 0;
}

button {
   background: none;
   border: none;
}

.m-t-1 { margin-top: 1rem; }
.m-t-2 { margin-top: 2rem; }
.m-t-3 { margin-top: 3rem; }
.m-t-4 { margin-top: 4rem; }
.m-t-5 { margin-top: 5rem; }
.center { text-align: center; }
.white { color: var(--color-white); }
/*-----------------------------------------------------
| Component Input
-----------------------------------------------------*/ 
.component-input {
   position: relative;
   box-shadow: var(--shadow-1);  
}

.component-input input {
   width: 100%;
   padding: var(--space-1);
   border: none;
   border-radius: var(--border-radius);
   font-size: var(--size-h2);
}
.component-input button {
   position: absolute;
   right: var(--space-1);
   top: 50%;
   transform: translateY(-50%);
   background: var(--color-button);
   padding: var(--space-0_5) var(--space-1);;
   color: var(--color-white);
   text-transform: uppercase;
   font-weight: bolder;
   border-radius: var(--border-radius);
   font-size: var(--size-h2);
}
.component-input button:hover {
   filter: brightness(110%);
   cursor: pointer;
}

/*-----------------------------------------------------
| Component List
-----------------------------------------------------*/ 
.component-list {
   box-shadow: var(--shadow-1);   
   padding: var(--space-1);
   font-size: var(--size-h2);
   background: var(--color-white);
   border-radius: var(--border-radius);
   align-items: center;
}

.component-list .item {
   display: flex;
   color: var(--color-list-text);
   justify-content: space-between;
   border-bottom: var(--list-border);
   line-height: var(--size-del-button);
}

.component-list .item button {
   color: var(--color-delete);
   font-size: var(--size-h2);
   width: var(--size-del-button);
   height: var(--size-del-button);
   border-radius: 100%;
}

.component-list .item button:hover {
   background: rgba(0, 0, 0, 0.25);
}