html, body {
   background: #222;
   font-family: monospace;
   margin: 0;
   padding: 0;
}

* {
   box-sizing: border-box;
}
.grid {
   position: fixed;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -52%);
}

.row {
   display: flex;
   justify-content: center;
   gap: 7vmin;
   margin-bottom: -5vmin;
}

.hex {
   position: relative;
   width: 10vmin;
   height: 10vmin;
   border-radius: 100%;
   cursor: pointer;
}

.hex span {
   position: absolute;
   top: 50%;
   left: 50%;
   transform-origin: 50% 50%;
   text-align: center;
   transform: translate(-50%, -50%);
   z-index: 2;
}

.hex:after, .hex:before {
   content: '⬢';
   opacity: 0.5;
   color: #FFF;
   font-size: 15vmin;
   position: absolute;
   top: 45%;
   left: calc(50% + 0.275vmin);
   transform-origin: 50% 50%;
   transform: translate(-50%, -50%) rotate(30deg);
   z-index: 1;
   pointer-events: none;
}

.hex:before {
   color: #C3B1E1;
   opacity: 0;
   font-size: 16.5vmin;
   left:calc(50% + 0.295vmin);
   transition: all 2s;
}

.hex:hover:before {
   opacity: 1;
   transition: all 0.1s;
}