:root {
   --color-background: #FFF;
   --color-text: #222;
   --space-0_25: 4px;
   --space-0_5: 8px;
   --space-1: 16px;
   --space-2: 32px;
   --space-3: 48px;
   --space-4: 64px;

   /* Bar */
   --bar-width: 1px;
   --bar-width-select: 2px;
   --bar-height: 32px;
   --bar-height-max: 64px;
   --bar-space-large: 8px;
   --bar-space-medium: 5px;
   --bar-space-small: 4px;

   /* Icon */
   --icon-size: 14px;

   /* Label */
   --label-width: 100px;
   --label-height: 34px;
}

html, body {
   font-family: monospace;
   background: var(--color-background);
   color: var(--color-text);
}

.app {

}

/*-----------------------------------------------------------
| Utility
-----------------------------------------------------------*/

/*-----------------------------------------------------------
| Filter
-----------------------------------------------------------*/
.component-filter {
   text-align: center;
}

/* Wrapper */
.component-filter .wrapper {
   display: inline-block;
}

/* Label */
.component-filter .label {
   width: var(--label-width);
   text-align: center;
   position: fixed;
   transition: all 0.5s;
}

.component-filter .label.hover {
   transition: all 0.1s;
}
.component-filter .label.click {
   animation: bounce 0.25s;
}

.component-filter .label .text {
   padding-bottom: var(--space-0_25);
   
}
.component-filter .icon {
   margin: auto;
   width: var(--icon-size);
   height: var(--icon-size);
   position: relative;
   overflow: hidden;
}

.component-filter .icon:after {
   content: '';
   width: 100%;
   height: 100%;
   position: absolute;
   top: -8px;
   left: 50%;
   transform: translateX(-50%) rotate(45deg);
   background: var(--color-text);
}

@keyframes bounce {
   0% { transform: translateY(0) }
   50% { transform: translateY(-10px) }
   100% { transform: translateY(0) }
}

/* Bars */
.component-filter .bars {
   display: flex;
   height: var(--bar-height-max);
   padding-top: var(--label-height);
}
.component-filter .bars .bar {
   padding: 0 var(--bar-space-large);
   cursor: pointer;
   position: relative;
}

.component-filter .bars .bar:after {
   content: '';
   display: block;
   background: var(--color-text);
   width: var(--bar-width);
   height: var(--bar-height);
   position: absolute;
   left: calc(50%);
   bottom: 0;
   
   transform: scale(1, 1) translateX(-50%);
   transform-origin: 0 100%;
   transition: transform 0.5s;
}

.component-filter .bars .bar:active:after {
   width: var(--bar-width-select);
}

.component-filter .bars .bar.hover:after,
.component-filter .bars .bar:hover:not(.hover):after,
.component-filter .bars .bar.selected:not(.hover):after {
   transition: transform 0.25s;
   transform: scale(1, 2) translateX(-50%);
}
@media (max-width: 800px) {
   .component-filter .bars .bar{
      padding: 0 var(--bar-space-medium);
   }
}
@media (max-width: 500px) {
   .component-filter .bars .bar{
      padding: 0 var(--bar-space-small);
   }
}

/* range */
.component-filter .range {
   display: flex;
   justify-content: space-between;
   padding-top: var(--space-1);
   font-weight: bolder;
}

/*-----------------------------------------------------------
| Image Grid
-----------------------------------------------------------*/
.images {
   display: flex;
   flex-wrap: wrap;
   padding-top: var(--space-2);
   transition: all 0.5s;
}
.images.fade {
   opacity: 0;
}

.images .image {
   position: relative;
   width: 25%;
}
.images .image.hide {
   display: none;
}
.images .image .aspect {
   width: 100%;
   padding-bottom: calc(9/16 * 100%);
   position: relative;
}
.images .image canvas {
   top: var(--space-0_25);
   left: var(--space-0_25);
   position: absolute;
   width: calc(100% - var(--space-0_5));
   height: calc(100% - var(--space-0_5));
   object-fit: cover;
   opacity: 0.75;
}

.images .image img {
   top: var(--space-0_25);
   left: var(--space-0_25);
   position: absolute;
   width: calc(100% - var(--space-0_5));
   height: calc(100% - var(--space-0_5));
   object-fit: cover;
}