:root {
   --color-black: #555;
   --color-white: #fff;
   --font: monospace;
   --space-05: 0.5rem;
   --space-075: 0.55rem;
   --space-1: 1rem;
   --space-2: 2rem;
   --space-3: 3rem;
   --space-4: 4rem;
   --space-5: 5rem;
}

html, body {
   background: var(--color-white);
   color: var(--color-black);
   padding: 0;
   margin: 0;
}

* {
   font-family: var(--font);
}

.grid {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   gap: var(--space-1);
   padding: var(--space-1);
}


.grid .item {
   transition: all 1s;
   padding: var(--space-1);
   cursor: pointer;
   box-shadow: 0 2px 6px rgba(0, 0, 0, 0.125);
   border: 1px solid rgba(0, 0, 0, 0.05);
   border-radius: 0.15rem;
}
