:root {
   --font: monospace;
   --color-bg: #0d0f18;
   --color-bg-2: #161821;
   --color-red: #d8514a;
   --color-white: #FEFEFE;
   --color-white-2: #f2f2f2;
   --color-grey: #a6a8ab;
   --color-primary: #636ae9;

   --space-0_25: 0.25rem;
   --space-0_5: 0.5rem;
   --space-1: 1rem;
   --space-1_5: 1.5rem;
   --space-2: 2rem;
   --space-3: 3rem;
   --space-4: 4rem;
   --space-5: 5rem;
   --border-radius: 0.5rem;
   --shadow-1: 0px 4px 10px rgba(0, 0, 0, 0.1);

   /* Component / App */
   --card-image-width: 7rem;
   --modal-width: 40rem;
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: var(--font);
}
body {
   background: var(--color-bg);
   color: var(--color-white);
   padding: var(--space-1);
}

.app {
   min-height: 100vh;
   max-width: 50rem;
   margin: auto;
}

.modal, .modal .overlay {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
}

.modal .overlay {
   background: rgba(255, 255, 255, 0.1);
   filter: blur(10px);
   backdrop-filter: blur(0);
}

.modal .content {
   position: relative;
   max-width: var(--modal-width);
   margin: auto;
   margin-top: var(--space-5);
   background: var(--color-bg-2);
   padding: var(--space-2);
   border-radius: var(--border-radius);
   z-index: 1;
   box-shadow: var(--shadow-1);
}

.modal .content .actions {
   text-align: right;
}

.modal.hide {
   display: none;
}

/*--------------------------------------------------------
| Text / Utility
--------------------------------------------------------*/
.purple {
   color: var(--color-primary);
}
.grey {
   color: var(--color-grey);
}

button {
   padding: var(--space-1) var(--space-2);
   background: none;
   border: 1px solid var(--color-grey);
   color: var(--color-white-2);
   border-radius: var(--border-radius);
}

button.red {
   border-color: var(--color-red);
   color: var(--color-red);
}

button.primary {
   background: var(--color-primary);
   border: none;
}

button:hover {
   filter: brightness(120%);
   cursor: pointer;
}

.m-t-1 { margin-top: var(--space-1); }
.m-t-2 { margin-top: var(--space-2); }
.m-t-3 { margin-top: var(--space-3); }
.m-t-4 { margin-top: var(--space-4); }
.m-t-5 { margin-top: var(--space-5); }

/*--------------------------------------------------------
| Cards
--------------------------------------------------------*/
.cards {
   display: flex;
   flex-direction: column;
   gap: var(--space-1);
}
.cards .card {
   display: flex;
   justify-content: space-between;
   gap: var(--space-1);
   align-items: center;
   background: var(--color-bg-2);
   padding: var(--space-1);
   border-radius: var(--border-radius);
}
.cards .card .image {
   width: var(--card-image-width);
}
.cards .card .text {
   flex: 1;
}
.cards .card .text .card-num {
   font-weight: bolder;
}
.cards .card .text .card-exp {
   margin-top: var(--space-0_5);
   color: var(--color-grey);
}


/*--------------------------------------------------------
| Input Group
--------------------------------------------------------*/
.input-group label {
   display: block;
}
.input-group input,
.input-group select {
   width: 100%;
   padding: var(--space-1);
   background: none;
   border: 1px solid var(--color-grey);
   border-radius: var(--border-radius);
   margin-top: var(--space-1);
   color: var(--color-white);
}
.input-group .error {
   margin-top: var(--space-0_5);
   color: var(--color-red);
   display: none;
}

.input-group.error .error {
   display: block;
}
.input-group.error label {
   color: var(--color-red);
}
.input-group.error input {
   border-color: var(--color-red);
}