body {
   margin: 0;
   background: #FFF;
}

canvas {
   position: fixed;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%) scale(0.5, 0.5);
   background: #FFF;
   border: 1px solid rgba(0, 0, 0, 0.1);
}